# build artefacts
dev-tools.sketchplugin/Contents/Sketch
dev-tools.sketchplugin/Contents/Resources/_webpack_resources
dev-tools.sketchplugin/Contents/Resources/webview.js
dev-tools.sketchplugin/Contents/Resources/.scripts/*
!dev-tools.sketchplugin/Contents/Resources/.scripts/.gitkeep

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store
