/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  user-select: none;
}
